body {
    background-color: aqua;
}

.form-control {
    width: 600px;
    background-color: #fff;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon {
    padding: 10px;
    background: green;
    color: white;
    min-width: 50px;
    text-align: center;
    position: absolute;
    height: 27px;
    border-radius: 5px 0 0 5px;
}

.form-control .input {
    margin-bottom: 10px;
    outline: none;
}

.form-control .input input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #444;
}

.btn-login {
    background-image: linear-gradient(darkgreen, green, darkgreen);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}